* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(
    85deg,
    hsl(302deg 100% 50%) 0%,
    hsl(297deg 100% 49%) 17%,
    hsl(292deg 100% 49%) 32%,
    hsl(286deg 100% 49%) 44%,
    hsl(279deg 100% 50%) 59%,
    hsl(272deg 100% 50%) 78%,
    hsl(263deg 100% 50%) 100%
  );

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 50vh;
  letter-spacing: -0.05rem;
}

.head-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
}

.input-main {
  display: block;
}

.main-content {
  background: #1f2937;
  color: rgb(235, 225, 225);
  font-weight: 200;
}
